.DS_Store
*~
node_modules
node_modules/*
app/robots.txt
error_log
logs
deployments.log
stack/local-config.php
wp-content/cache/
app/.vagrant
app/wp-content/uploads/
wp-content/uploads
app/wp-content/themes/simian-remake/node_modules