.footer{
	background: url('../images/background-footer.svg');
	background-repeat: no-repeat;
  background-size: cover;
	.content{
		@include outer-container;
		padding-top: 127px;
		
		.block{
			@include span-columns(2);
			@include shift(2);
			text-align: center;
			@include media($mobile){
				@include span-columns(8);
			}
			&:first-child{
				@include shift(1);
				.menu-item{
					font-family: $font-text;
					text-transform: uppercase;
					color: white;
					font-weight: bold;
				}
			}
			.title{
				font-family: $font-title;
				color: $yellow;
				font-size: 50px;
			}
			.menu-item{
				font-family: $font-text;
				text-transform: uppercase;
				color: white;
			}			
		}
		.links, .info{
			@include media($mobile){
				display: none;
			}
		}
		.social{
			.icon{
				display: inline-block;
    		width: 3rem;
    		height: 3rem;
    		background: white;
    		border-radius: 50%;
    		padding: 5px;
			}
		}
		.copyright{
			@include span-columns(8);
			@include shift(2);
			text-align: center;
			font-family: $font-text;
			color: $grey;
		}
		.simian-bottom{
			@include span-columns(2);
			@include media($mobile){
				@include span-columns(4);
				@include shift(4);
			}
			.icon{
				width: 100%;
			}
		}
	}
	
}