.footer{
	background: url('../images/background-footer.svg');
	background-repeat: no-repeat;
  background-size: cover;
  margin-left: -5px;
  margin-top: -5px;
  @include media($ipad-portrait){
  	margin-top: -50px;
  }
	.content{
		@include outer-container;
		padding-top: 127px;
		
		.block{
			@include span-columns(4);
			text-align: center;
			@include media($ipad-portrait){
				@include span-columns(8);
				@include shift(2);
			}
			&:first-child{
				@include shift(2);
				.menu-item{
					font-family: $font-text;
					text-transform: uppercase;
					color: white;
					font-weight: bold;
				}
			}
			.title{
				font-family: $font-title;
				color: $yellow;
				font-size: 40px;
			}
			.menu-item{
				font-family: $font-text;
				text-transform: uppercase;
				color: white;
				transition: all 200ms ease-in-out;
				-moz-transition: all 200ms ease-in-out;
				-webkit-transition: all 200ms ease-in-out;
				&:hover{
					color: $grey;
				}
			}			
		}
		.links{
			@include media($ipad-portrait){
				display: none;
			}
		}
		.social{
			.icon{
				display: inline-block;
				margin: 0 2.5px;
    		width: 2.5rem;
    		height: 2.5rem;
    		background: white;
    		border-radius: 50%;
    		padding: 5px;
			}
			.icon-google-plus{
				padding: 0 3px;
			}
		}
		.copyright{
			@include span-columns(8);
			@include shift(2);
			text-align: center;
			font-family: $font-text;
			color: $footer-grey;
		}
		.simian-bottom{
			@include span-columns(2);
			@include media($ipad-portrait){
				@include span-columns(12);
				text-align: center;
			}			
			.icon{
				width: 95px;
    		position: absolute;
    		height: 77px;
    		right: 0;
    		margin: 0 15px;
    		@include media($ipad-portrait){
					position: relative;
				}
			}
		}
	}
	
}