.header{
	position: relative;
	height: 440px;
	background: url('../images/background-header.svg');
	background-repeat: no-repeat;
  background-size: cover;
  @include media($mobile){
  	height: 100px;
  }
	.top-header{
		//TODO: For now lets just hide it, implement mobile menu
		@include media($mobile){
  		display: none;
  	}
		.logo{
			position: absolute;
			top: 0;
			left: 0;
		}
		.menu{
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%); 
			.menu-item{
				font-family: $font-text;
				color: $yellow;
				font-size: 20px;
				display: inline-block;
    		padding: 0 3rem;
			}
		}
		.tools{
			background: url('../images/background-tools.svg');
			background-repeat: no-repeat;
  		background-size: cover;
			position: absolute;
			top: 0;
			right: 0;
			.icon{
				display: inline-block;
    		width: 2rem;
    		height: 2rem;
			}
			.social, .search-tool, .mail{
				display: inline;
			}
		}
	}
	.monkey{
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 750px;
		@include media($mobile){
			width: 63%;
		}
		.site-title, .talking-money{
			display: inline-block;
			vertical-align: middle;
		}
		.site-title{
			font-family: $font-title;
			color: $yellow;
			font-size: 90px;
			width: 47%;
			@include media($mobile){
				font-size: 30px;
			}
		}
		.talking-monkey{
    	float: right;
    	@include media($mobile){
				width: 90px;
			}
		}
	}
}