body {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;

  li {
    list-style: none;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

$fg-column: $column;
$fg-gutter: $gutter;

@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter($grid-columns, $gutter); }
  &:nth-child(#{$nth}+1) { clear: none }
}