// Fonts
$font-title:          'Amatic SC', cursive;
$font-text:           'Quicksand', sans-serif;

// Neat variables
$max-width:           68rem !global;
$default-feature:     max-width;

// Media queries
$mobile:              em(580);
$tablet:              em(960);
$ipad-portrait:       em(768);
$ipad-landscape:      em(1024);
$small-desktop:       em(1100);

//Colors
$yellow:              #DED96B;
$light-blue:          #4FA2C0;
$grey:                #B3B0AE;
$dark-brown:          #3F3832;