// Fonts
$font-title:          'Amatic SC', cursive;
$font-text:           'Quicksand', sans-serif;

// Neat variables
$max-width:           68rem !global;
$default-feature:     max-width;

// Media queries
$mobile:              em(580);
$tablet:              em(960);
$ipad-portrait:       em(768);
$ipad-landscape:      em(1024);
$small-desktop:       em(1100);

//Colors
$yellow:              #DED96B;
$light-blue:          #4FA2C0;
$grey:                #5D5752;
$dark-brown:          #3F3832;
$light-red:           #FF5F5C;
$twitter-blue:        #00A7E2;
$red:                 #E72B2C;
$facebook-blue:       #245A9D;
$marine-blue:         #1EC1B3;
$icon-borders:        #3F352E;
$play-blue:           #00A2C2;