html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  padding: 0;
  margin: 0; }

ul {
  padding: 0; }
  ul li {
    list-style: none; }

a {
  color: inherit;
  text-decoration: none; }

.header {
  position: relative;
  height: 440px;
  background: url("../images/background-header.svg");
  background-repeat: no-repeat;
  background-size: cover; }
  .header .top-header .logo {
    position: absolute;
    top: 0;
    left: 0; }
  .header .top-header .menu {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); }
    .header .top-header .menu .menu-item {
      font-family: "Quicksand", sans-serif;
      color: #DED96B;
      font-size: 20px;
      display: inline-block;
      padding: 0 3rem; }
  .header .top-header .tools {
    background: url("../images/background-tools.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0; }
    .header .top-header .tools .icon {
      display: inline-block;
      width: 2rem;
      height: 2rem; }
    .header .top-header .tools .social, .header .top-header .tools .search-tool, .header .top-header .tools .mail {
      display: inline; }
  .header .monkey {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); }
    .header .monkey .site-title, .header .monkey .talking-money {
      display: inline-block;
      vertical-align: middle; }
    .header .monkey .site-title {
      font-family: "Amatic SC", cursive;
      color: #DED96B;
      font-size: 100px; }
    .header .monkey .talking-monkey {
      width: 420px;
      float: right; }

.footer {
  background: url("../images/background-footer.svg");
  background-repeat: no-repeat;
  background-size: cover; }
  .footer .content {
    max-width: 68rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 127px; }
    .footer .content::after {
      clear: both;
      content: "";
      display: table; }
    .footer .content .block {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 14.70196%;
      margin-left: 17.05961%;
      text-align: center; }
      .footer .content .block:last-child {
        margin-right: 0; }
      .footer .content .block:first-child {
        margin-left: 8.5298%; }
        .footer .content .block:first-child .menu-item {
          font-family: "Quicksand", sans-serif;
          text-transform: uppercase;
          color: white;
          font-weight: bold; }
      .footer .content .block .title {
        font-family: "Amatic SC", cursive;
        color: #DED96B;
        font-size: 50px; }
      .footer .content .block .menu-item {
        font-family: "Quicksand", sans-serif;
        text-transform: uppercase;
        color: white; }
    .footer .content .social .icon {
      display: inline-block;
      width: 3rem;
      height: 3rem;
      background: white;
      border-radius: 50%;
      padding: 5px; }
    .footer .content .copyright {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 65.88078%;
      margin-left: 17.05961%;
      text-align: center;
      font-family: "Quicksand", sans-serif;
      color: #B3B0AE; }
      .footer .content .copyright:last-child {
        margin-right: 0; }

.main .content {
  max-width: 68rem;
  margin-left: auto;
  margin-right: auto; }
  .main .content::after {
    clear: both;
    content: "";
    display: table; }
  .main .content .posts-list {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
    margin-left: 8.5298%; }
    .main .content .posts-list:last-child {
      margin-right: 0; }
    .main .content .posts-list .post-container {
      margin: 25% 0; }
      .main .content .posts-list .post-container .post-thumbnail .wp-post-image {
        float: left;
        margin-right: 50px; }
      .main .content .posts-list .post-container .post-title {
        color: #4FA2C0;
        font-family: "Amatic SC", cursive;
        font-size: 60px; }
      .main .content .posts-list .post-container .post-excerpt {
        color: #B3B0AE;
        font-family: "Quicksand", sans-serif;
        font-size: 20px; }
      .main .content .posts-list .post-container .post-foot {
        color: #B3B0AE;
        font-family: "Quicksand", sans-serif;
        font-size: 20px;
        float: left;
        width: 100%;
        margin-top: 45px; }
        .main .content .posts-list .post-container .post-foot div {
          display: block;
          width: 33%;
          float: left; }
        .main .content .posts-list .post-container .post-foot p {
          display: inline;
          vertical-align: super; }
        .main .content .posts-list .post-container .post-foot .icon {
          display: inline-block;
          width: 2rem;
          height: 2rem; }
        .main .content .posts-list .post-container .post-foot .date .month {
          text-transform: capitalize; }
    .main .content .posts-list .pagination {
      float: right;
      margin-top: 100px;
      font-size: 30px;
      font-weight: bold;
      color: #3F3832; }

.category .main .content .category-head {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-left: 8.5298%;
  font-family: "Amatic SC", cursive;
  font-size: 60px;
  margin-bottom: 0;
  margin-top: 60px;
  text-transform: uppercase; }
  .category .main .content .category-head:last-child {
    margin-right: 0; }
  .category .main .content .category-head .cat {
    color: #4FA2C0; }
  .category .main .content .category-head .category-title {
    color: #3F3832; }
