html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  padding: 0;
  margin: 0; }

ul {
  padding: 0; }
  ul li {
    list-style: none; }

a {
  color: inherit;
  text-decoration: none; }

.header {
  position: relative;
  height: 440px;
  background: url("../images/background-header.svg"); }
  .header .top-header .logo {
    position: absolute;
    top: 0;
    left: 0; }
  .header .top-header .menu {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); }
  .header .top-header .tools {
    position: absolute;
    top: 0;
    right: 0; }
  .header .monkey {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); }
    .header .monkey .site-title, .header .monkey .talking-money {
      display: inline-block;
      vertical-align: middle; }

.footer {
  background: url("../images/background-footer.svg"); }
  .footer .content {
    max-width: 68rem;
    margin-left: auto;
    margin-right: auto; }
    .footer .content::after {
      clear: both;
      content: "";
      display: table; }
    .footer .content .block {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 14.70196%;
      margin-left: 8.5298%; }
      .footer .content .block:last-child {
        margin-right: 0; }
      .footer .content .block:first-child {
        margin-left: 17.05961%; }
    .footer .content .copyright {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 65.88078%;
      margin-left: 17.05961%;
      text-align: center; }
      .footer .content .copyright:last-child {
        margin-right: 0; }

.home .main .content {
  max-width: 68rem;
  margin-left: auto;
  margin-right: auto; }
  .home .main .content::after {
    clear: both;
    content: "";
    display: table; }
  .home .main .content .posts-list {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin-left: 17.05961%; }
    .home .main .content .posts-list:last-child {
      margin-right: 0; }
    .home .main .content .posts-list .post-container .post-thumbnail .wp-post-image {
      float: left; }
    .home .main .content .posts-list .post-container .post-foot div {
      display: block;
      width: 33%;
      float: left; }
    .home .main .content .posts-list .post-container .post-foot .date .month {
      text-transform: capitalize;
      display: inline; }
